<div class="container">
    <div *ngIf="movie">
      <h2>{{ movie.title }}</h2>
      <img [src]="getMovieImage(movie.poster_path)" class="img-fluid mb-4" alt="Movie Poster">
      <p><strong>Release Date:</strong> {{ movie.release_date | date: 'dd/MM/yyyy' }}</p>
      <p><strong>Language:</strong> {{ movie.original_language }}</p>
      <p><strong>Overview:</strong> {{ movie.overview }}</p>
    </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 10vh;">
    <div class="col-6">
      <div class="text-center">
        <button type="button" class="btn btn-sm btn-outline-secondary px-5 mb-5 w-100" (click)="voltarLista()">Voltar</button>
      </div>
    </div>
  </div>
</div>

